PORT=3005
AUTH_SERVICE_URL=http://auth-service:3001
PATIENT_SERVICE_URL=http://patient-service:3002
APPOINTMENT_SERVICE_URL=http://appointment-service:3003
BILLING_SERVICE_URL=http://billing-service:3004
DOCTOR_SERVICE_URL=http://doctor-service:3006
