PORT=3003
MONGO_URI=mongodb://mongo-appointment:27017/appointmentdb
AUTH_SERVICE_URL=http://auth-service:3001
DOCTOR_SERVICE_URL=http://doctor-service:3006
NOTIFICATION_SERVICE_URL=http://notification-service:3009
